body{
   margin: 0;
   padding: 0;
    font-family: "Open Sans";

}
.primary{
    color: #FD6E0A;
}
.logo{
    color: #181818;
font-family: "Open Sans";
font-size: 52px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 0;padding: 0;
}

  .nav{
      display: flex;
      justify-content: space-between;
      margin: 0 100px;
      
  }
  nav > ul{
    display: flex;
    align-items: center;
    
  }
nav li{
    list-style:none ;
    margin-right: 51px;
   
}
nav li a{
    text-decoration: none;
    color: #474747;

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
} nav li button{
    color: #fff;
background-color: #FD6E0A;
border-radius: 5px;
padding: 18px 35px;
border: none;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
/* header related style  */
.header{
    
    background: #FFF8F3;
    padding: 0;
    margin: 0;
}
.banner{
    display: flex;
    align-items: center;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
/* .text{
    margin-left: 120px;
} */
.banner-into{
    color: #474747;
margin: 0;
padding: 0;
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.banner-title{
color: var #181818;
font-size: 85px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;
padding: 0;
}
.banner-description{
    color:#757575;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
margin: 0;
padding: 0; 
}
.btn1{
    color: #FFF;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    padding: 16px;
    margin-right: 5px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.btn2{
    color: #FD6E0A;
    /* background-color: #fff; */
    
    border-radius: 5px;
    border: 2px solid #FD6E0A;
    margin-left: 5px;
    
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
.img{
    width: 584px;
height: 676px;
flex-shrink: 0;
}
.dev
   {
    margin: 0;
    padding: 0;
    transform: rotate(-90deg);
    color: rgba(24, 24, 24, 0.15);
    

   } 

/* about section */
.about{
    border-radius: 10px;
    background: #FFF8F3;
    margin:120PX 230px;
    padding: 25px;
}
.about-content{
    margin: 90PX;
    border: 1PX solid black;
    border-radius: 5px;
    padding: 25px;
    align-items: center;
}
.text-content{
    justify-content: center;
    align-items: center;
    display: grid;
}
.about-title{
    justify-content: center;
    display: flex;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #757575;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
table{
    width: 100%;
}
th{
    color: #757575;
    justify-content: space-between;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
td{
    color:  #474747;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px;
}
/* about section end */
/* WHAT I DO SECTION SRART */
.what-i-do{
   margin: 0px 150px;
}
.i-title{
    color:#181818;
text-align: center; 
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.i-description{
    color:  #757575;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.language{
    margin:0px 70px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.lang{
    padding:15px ;
    margin-left: 40px;
    width: 267px;
    justify-content: space-between;
    align-items: center;

flex-shrink: 0;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.lang > h2{
    color: #181818;
text-align: center;

font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.lang > p{
    color: #757575;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
.lang > img{
    width: 70px;
}
/* A summary of My Resume section start */
.resume{
    margin: 150px 260px;
}
.resume-title{
    color: #181818;
text-align: center;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.edu-exp{
    display: flex;
}
.edu-list{
    margin: 0px 20px 10px;
}
hr{
    margin: 0px 20px 10px;
}
.edu-title{
    color: #474747;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.edu-name{
    color: #474747;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0px 4px;
}
.edu-uni{
    color:#757575;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 0px 4px;
}
.details{
    color:  #757575;
font-size: 16px;
font-style: normal;
font-weight: 400;
margin: 0px 4px;
line-height: 28px; /* 175% */
}
.cv{
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}
.btn3{
    color: #FFF;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    padding: 16px;
    margin-right: 5px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* A summary of My Resume section ended */
/* footer section start */
.footer{
    background: #FFF8F3;
    padding: 70px 200px ;
    display: flex;
} 
.footer div{
    width: 50%;
    margin: 0px 30px;
}  
.footer form .in{
    width: 100%;
    height: 40px;
    margin-bottom: 30px ;
    border: none;

}
#in-3{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
